
.DS_Store
LCA/barcodes_cluster/MiFish_12S_full_merged_data_set.RDS
LCA/barcodes_cluster/MiFish_12S_vertebrates_only_merged_data_set.RDS
LCA/barcodes_unique/MiFish_12S_vertebrates_only_merged_data_set.RDS
LCA/barcodes_unique/MiFish_12S_full_merged_data_set.RDS
/rCRUX_dbs
zjg_NEP_species_visualizations/smm_2024_12_10/NEP_list_FINAL_merge_records.txt
.Rproj.user
NEP_share/old/
LCA/20250122_nt_db/20250425_MiFish_12S_singleDB_rankAll_updateSQL/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250429_Min_MiSebastes_cytB_singleDB_rankGenus/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250425_MiFish_12S_singleDB_rankGenus_updateSQL/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250429_Valentini_teleost_12S_singleDB_rankGenus/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250507_Berry_Fish_mt16S_singleDB_rankGenus_250bp/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250428_Ford_vertebrate_mt16S_singleDB_rankSpecies/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250425_Riaz_fish_12Sv5_singleDB_rankGenus_updateSQL/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250428_Valsecchi_Marver3_mt16S_singleDB_rankSpecies/blast_seeds_output/summary.csv
LCA/20250122_nt_db/20250429_Min_MiSebastes_cytB_singleDB_rankGenus/get_seeds_local/Min_MiSebastes_cytB_filtered_get_seeds_local_output_with_taxonomy.csv
LCA/20250122_nt_db/20250428_Ford_vertebrate_mt16S_singleDB_rankSpecies/blast_seeds_output/Ford_vertebrate_mt16S.fasta
LCA/20250122_nt_db/20250428_Valsecchi_Marver3_mt16S_singleDB_rankSpecies/blast_seeds_output/Valsecchi_Marver3_mt16S.fasta
LCA/20250122_nt_db/20250425_MiFish_12S_singleDB_rankAll_updateSQL/blast_seeds_output/MiFish_UniversalTeleost_12S.fasta
LCA/20250122_nt_db/20250428_Ford_vertebrate_mt16S_singleDB_rankSpecies/derep_and_clean_db/Ford_vertebrate_mt16S_derep_and_clean.fasta
